@{
	ViewData["Title"] = "Administrador";
}

<h2 class="text-primary ">@ViewData["Title"]</h2>
<hr />
<div class="row">
	<div  class="col-12 py-1">
		<h3 class="text-primary">Escolha qual área deseja visualizar:</h3>
	</div>
	<div class="col-12">
		<a class="btn btn-primary" type="submit" href="/Usuarios/Index">Usuarios</a>
	</div>
	<div class="col-12 py-1">
		<a class="btn btn-primary" type="submit" href="/Home/PageAdm">Armarios</a>
	</div>
	<div class="col-12">
		<a class="btn btn-primary" type="submit" href="/Home/PageAdm">Compartimentos</a>
	</div>
</div>
