@{
	ViewData["Title"] = "Administrador";
}

<h2 class="text-primary ">@ViewData["Title"]</h2>
<hr />
<div class="row">
	<div  class="col-12 py-2">
		<h3 class="text-primary">Escolha qual área deseja visualizar:</h3>
	</div>
	<div class="col-12">
		<a class="btn btn-primary" type="submit" href="/Usuarios/Index" style="width:20%;">Usuarios</a>
	</div>
	<div class="col-12 py-2">
		<a class="btn btn-primary" type="submit" href="/Armario/ArmariosAdm" style="width:20%;">Armarios</a>
	</div>
	<div class="col-12">
		<a class="btn btn-primary" type="submit" href="/Home/PageAdm" style="width:20%;">Compartimentos</a>
	</div>
</div>
